.about {
   position: relative;
   &:before {
      content: "";
      position: absolute;
      top: -100px;
      width: 100%;
      border-width: 100px 0 0 100vw;
      border-style: solid;
      border-color: transparent transparent transparent $white;
   }
   &__content {
      @include flex(row);
   }
   &__img-container {
      width: 25%;
      float: left;
   }
   &__inner-content {
      width: 75%;
      padding-right: 50px;
      text-align: left;
      position: relative;
   }
   &__h2 {
      margin: 35px 0 50px 0;
      &:before {
         content: "about";
         @include heading-font(170);
         color: $accent2;
         position: absolute;
         top: -80px;
         left: 0px;
         z-index: -1;
         opacity: 0.3;
      }
   }
   &__description {
      @include body-font(16);
      line-height: 1.5;
      vertical-align: middle;
   }
}