body {
   font-size: 2rem;
   overflow-x: hidden;
   background: $white;
}

.wrapper {
   max-width: 1280px;
   width: 80%;
   margin: 0 auto;
}

section {
   padding: 50px 0 125px 0;
}

h2 {
   @include heading-font(40);
   color: $black;
}

h3 {
   @include heading-font(30);
   color: $black;
}

p {
   @include body-font(17);
   line-height: 1.5;
}