.header {
   @include flex(column);
   height: 100vh;
   background: $white;
   // background: url(../assets/newPicture2.png);
   // background-size: 30%;
   // background-repeat: no-repeat;
   // background-position: bottom right;
   &__h1 {
      @include heading-font(70);
      margin: 0;
      text-align: center;
      position: relative;
      z-index: 1;
      &::before {
         content: "";
         position: absolute;
         height: 30px;
         margin: 0 0 0 auto;
         left: 0;
         right: 0;
         bottom: 5px;
         width: 70%;
         background: $accent1;
         opacity: 0.5;
         z-index: -1;
      }
   }
   &__description {
      @include body-font(30);
      margin: 0;
      text-align: right;
   }
}


