// Colours
$primary: rgba(237, 42, 94, 1);
$secondary: rgba(31, 14, 73, 1);

$accent1: rgba(255, 180, 164, 1);
$accent2: rgba(252, 220, 137, 1);
$accent3: rgba(206, 242, 242, 1);

$white: rgba(245, 245, 245, 1);
$black: rgba(25, 25, 25, 1);
$grey: rgba(210, 214, 222, 1);