// Colours
$primary: rgb(237, 42, 94);
$secondary: rgb(31, 14, 73);

$accent1: rgb(255, 180, 164);
$accent2: rgb(252, 220, 137);
$accent3: rgb(206, 242, 242);

$white: rgba(245, 245, 245, 1);
$black: rgba(25, 25, 25, 1);
$grey: rgba(210, 214, 222, 1);