/* GENERAL STYLING */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  font-size: 62.5%; }

img {
  max-width: 100%; }

body {
  font-size: 2rem;
  overflow-x: hidden;
  background: whitesmoke; }

.wrapper {
  max-width: 1080px;
  width: 75%;
  margin: 0 auto; }

section {
  padding: 50px 0 125px 0; }

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-size: 4rem;
  color: #1f0e49;
  color: #191919; }

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-size: 3rem;
  color: #1f0e49;
  color: #191919; }

p {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5; }

nav {
  position: fixed;
  width: 100%;
  z-index: 100; }

.main-nav__circle {
  position: absolute;
  right: -100px;
  top: -100px;
  z-index: 100;
  width: 200px;
  height: 200px;
  background: #cae4f1;
  border-radius: 50%;
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  -webkit-box-shadow: none;
  box-shadow: none; }

.main-nav__hamburger {
  position: absolute;
  top: 135px;
  left: 50px;
  width: 30px;
  height: 2px;
  background: #000;
  display: block;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  border-radius: 50px; }
  .main-nav__hamburger:after, .main-nav__hamburger:before {
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #000; }
  .main-nav__hamburger:before {
    top: -10px; }
  .main-nav__hamburger:after {
    bottom: -10px; }

.main-nav input {
  display: none; }

input:checked + .main-nav__circle {
  -webkit-box-shadow: 0 0 0 60vw #cae4f1, 0 0 0 60vh #cae4f1;
  box-shadow: 0 0 0 60vw #cae4f1, 0 0 0 60vh #cae4f1;
  border-radius: 100%; }
  input:checked + .main-nav__circle .main-nav__hamburger {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
    input:checked + .main-nav__circle .main-nav__hamburger:before {
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      top: 0; }
    input:checked + .main-nav__circle .main-nav__hamburger:after {
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      bottom: 0; }

input:checked + .main-nav__circle + .main-nav__menu {
  opacity: 1;
  -webkit-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  visibility: visible; }

.main-nav__menu {
  z-index: 200;
  position: absolute;
  top: 50vh;
  left: 80%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  visibility: hidden; }
  .main-nav__menu--link {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-size: 3rem;
    color: #1f0e49;
    position: relative;
    display: block;
    margin-bottom: 15px;
    padding: 15px 40px;
    color: #1f0e49; }
  .main-nav__menu .hover:hover::after, .main-nav__menu .hoverfocus::after, .main-nav__menu .hover:active::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 20px;
    width: 40px;
    height: 40px;
    background: #ffb4a4;
    border-radius: 64% 36% 26% 74% / 40% 63% 37% 60%;
    z-index: -1; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  height: 100vh;
  background: #ddd6f3;
  background: -webkit-gradient(linear, left bottom, right top, color-stop(10%, #ddd6f3), to(#cae4f1));
  background: -webkit-linear-gradient(bottom left, #ddd6f3 10%, #cae4f1 100%);
  background: -o-linear-gradient(bottom left, #ddd6f3 10%, #cae4f1 100%);
  background: linear-gradient(to top right, #ddd6f3 10%, #cae4f1 100%); }
  .header__content {
    margin: -80px auto 0 auto; }
  .header__h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 90px;
    font-size: 9rem;
    color: #1f0e49;
    margin: 0;
    text-align: center;
    position: relative;
    z-index: 1; }
    .header__h1::before {
      content: "";
      position: absolute;
      top: -200px;
      left: -150px;
      width: 400px;
      height: 400px;
      background: #fcdc89;
      border-radius: 64% 36% 26% 74% / 40% 63% 37% 60%;
      z-index: -1; }
    .header__h1::after {
      content: "";
      position: absolute;
      margin: 0 0 0 auto;
      left: 0;
      right: 0;
      bottom: 5px;
      height: 40px;
      width: 65%;
      background: #ffb4a4;
      opacity: 0.5;
      z-index: -1; }
  .header__intro, .header__description {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-size: 3rem;
    margin: 0;
    color: #1f0e49; }
  .header__description {
    text-align: right; }
  .header__intro {
    text-align: left;
    position: relative;
    z-index: 4; }
  .header__shapes--triangle {
    position: relative;
    top: 0px;
    left: 850px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 25px solid #d61a4c;
    opacity: 0.4;
    -webkit-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    transform: rotate(-30deg);
    -webkit-animation: spin 8s linear infinite;
    animation: spin 8s linear infinite; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
  .header__shapes--circle {
    position: relative;
    top: 190px;
    left: 350px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #a2cfe6;
    opacity: 0.6;
    z-index: 3;
    -webkit-animation: spin 10s linear infinite;
    animation: spin 10s linear infinite;
    -webkit-transform-origin: 0%;
    -ms-transform-origin: 0%;
    transform-origin: 0%; }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
  .header__shapes--square {
    position: relative;
    top: 200px;
    left: 1000px;
    width: 25px;
    height: 25px;
    border: 3px solid #1f0e49;
    opacity: 0.5;
    z-index: 3;
    -webkit-animation: spin 20s linear infinite;
    animation: spin 20s linear infinite;
    -webkit-transform-origin: 10%;
    -ms-transform-origin: 10%;
    transform-origin: 10%; }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
  .header__shapes--squiggle {
    position: relative;
    top: -160px;
    left: 60px;
    width: 80px;
    height: 11px;
    opacity: 0.5;
    z-index: 3;
    overflow: hidden;
    -webkit-animation: spin 25s linear infinite;
    animation: spin 25s linear infinite; }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
  .header__shapes .line {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 11px; }
  .header__shapes .line1 {
    background: -webkit-linear-gradient(45deg, transparent, transparent 47%, #1f0e49 47%, transparent 53%);
    background: -o-linear-gradient(45deg, transparent, transparent 47%, #1f0e49 47%, transparent 53%);
    background: linear-gradient(45deg, transparent, transparent 47%, #1f0e49 47%, transparent 53%); }
  .header__shapes .line2 {
    background: -webkit-linear-gradient(135deg, transparent, transparent 47%, #1f0e49 47%, transparent 53%);
    background: -o-linear-gradient(135deg, transparent, transparent 47%, #1f0e49 47%, transparent 53%);
    background: linear-gradient(-45deg, transparent, transparent 47%, #1f0e49 47%, transparent 53%); }
  .header__shapes .line {
    background-size: 20px 20px; }

.typed::after {
  content: '|';
  display: inline;
  -webkit-animation: blink 1s infinite;
  animation: blink 1s infinite; }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.typed-cursor {
  opacity: 0;
  display: none; }

.about {
  position: relative; }
  .about:before {
    content: "";
    position: absolute;
    top: -100px;
    width: 100%;
    border-width: 100px 0 0 100vw;
    border-style: solid;
    border-color: transparent transparent transparent whitesmoke; }
  .about__content {
    position: relative; }
  .about__h2 {
    margin: 35px 0 50px 0; }
    .about__h2:before {
      content: "about";
      font-family: 'Montserrat', sans-serif;
      font-size: 170px;
      font-size: 17rem;
      color: #1f0e49;
      color: #fcdc89;
      position: absolute;
      top: -115px;
      left: 0px;
      z-index: -1;
      opacity: 0.3; }
  .about__img-container {
    width: 25%; }
  .about__inner-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    position: relative; }
  .about__description {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.5;
    width: 75%;
    padding-right: 35px; }

.portfolio {
  position: relative;
  background: rgba(221, 214, 243, 0.2); }
  .portfolio:before {
    content: "";
    position: absolute;
    top: -100px;
    width: 100%;
    border-width: 0 0 100px 100vw;
    border-style: solid;
    border-color: transparent transparent rgba(221, 214, 243, 0.2) transparent; }
  .portfolio__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative; }
  .portfolio__h2 {
    width: 100%;
    text-align: right;
    margin: 50px 0 100px 0; }
    .portfolio__h2:before {
      content: "portfolio";
      font-family: 'Montserrat', sans-serif;
      font-size: 170px;
      font-size: 17rem;
      color: #1f0e49;
      color: #ffb4a4;
      position: absolute;
      top: -65px;
      right: 0px;
      z-index: -1;
      opacity: 0.3; }
  .portfolio__project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 100%;
    margin: 50px 0;
    text-align: right; }
    .portfolio__project--right {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      text-align: left;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
  .portfolio__img-container {
    position: relative;
    margin: 0;
    min-width: 450px;
    max-width: 450px; }
  .portfolio__mobile {
    position: absolute;
    bottom: 0px;
    right: -35px;
    width: 90px;
    z-index: 1; }
    .portfolio__mobile--left {
      left: -35px; }
  .portfolio__video-container {
    position: absolute;
    top: 29px;
    left: 21px;
    max-width: 597px;
    max-height: 342px;
    width: 90.13%;
    line-height: 0; }
  .portfolio__inner-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-width: 50%;
    max-width: calc(100% - 480px);
    padding-right: 30px; }
    .portfolio__inner-content--right {
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      padding-right: 0;
      padding-left: 50px; }
  .portfolio__h3 {
    margin: 0; }
  .portfolio__description span {
    display: block; }
    .portfolio__description span a {
      color: #9372e4;
      text-decoration: none;
      position: relative; }
      .portfolio__description span a:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 6px;
        bottom: 0;
        left: 0;
        background-color: #cae4f1;
        opacity: 0;
        -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
        z-index: -1; }
      .portfolio__description span a:hover:after {
        opacity: 0.8;
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
        transform: scaleX(1); }
  .portfolio__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px; }
  .portfolio__a {
    font-family: 'Lato', sans-serif;
    font-size: 19px;
    font-size: 1.9rem;
    width: calc(50% - 10px);
    text-align: center;
    background: #ddd6f3;
    color: #1f0e49;
    padding: 10px;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: relative;
    top: 0;
    left: 0;
    -webkit-box-shadow: 1px 1px 0 #1f0e49, 2px 2px 0 #1f0e49, 3px 3px 0 #1f0e49, 4px 4px 0 #1f0e49, 5px 5px 0 #1f0e49;
    box-shadow: 1px 1px 0 #1f0e49, 2px 2px 0 #1f0e49, 3px 3px 0 #1f0e49, 4px 4px 0 #1f0e49, 5px 5px 0 #1f0e49; }
    .portfolio__a:hover, .portfolio__a:focus {
      background: #bcafe7; }
    .portfolio__a:active {
      top: 5px;
      left: 5px;
      -webkit-box-shadow: none;
      box-shadow: none; }

video {
  display: block;
  width: 100%;
  height: 100%; }

.group-members {
  color: #9372e4;
  text-decoration: none;
  position: relative; }
  .group-members:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 6px;
    bottom: 0;
    left: 0;
    background-color: #cae4f1;
    opacity: 0;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    z-index: -1; }
  .group-members:hover:after {
    opacity: 0.8;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1); }

.hidden {
  display: none;
  position: absolute;
  top: 28px;
  left: 22px;
  width: 90%; }

.skills {
  position: relative; }
  .skills:before {
    content: "";
    position: absolute;
    top: -100px;
    width: 100%;
    border-width: 100px 0 0 100vw;
    border-style: solid;
    border-color: transparent transparent transparent whitesmoke; }
  .skills__h2 {
    margin: 35px 0 100px 0;
    position: relative; }
    .skills__h2:before {
      content: "toolbox";
      font-family: 'Montserrat', sans-serif;
      font-size: 170px;
      font-size: 17rem;
      color: #1f0e49;
      color: #cae4f1;
      position: absolute;
      top: -110px;
      left: 0;
      z-index: -1;
      opacity: 0.5; }
  .skills__icons {
    max-width: 700px;
    margin: 50px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .skills__icon-box {
    height: 100px;
    min-width: 100px;
    width: calc((100% / 6) - 15px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 15px;
    position: relative; }
  .skills__card {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }
    .skills__card img, .skills__card p {
      position: relative;
      z-index: 1; }
    .skills__card img {
      width: 50%; }
    .skills__card p {
      font-family: 'Lato', sans-serif;
      font-size: 16px;
      font-size: 1.6rem; }
    .skills__card--color1 {
      background: #ffb4a4; }
    .skills__card--color2 {
      background: #fcdc89; }
    .skills__card--color3 {
      background: #cae4f1; }
    .skills__card--color4 {
      background: #ddd6f3; }
    .skills__card--face {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-transition: all .6s;
      -o-transition: all .6s;
      transition: all .6s;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-box-shadow: 3px 3px 3px #d2d6de;
      box-shadow: 3px 3px 3px #d2d6de;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border-radius: 3px; }
      .skills__card--face:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.3);
        z-index: 0; }
    .skills__card--back {
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg); }
  .skills .hover:hover .skills .hover--front,
  .skills .hover:focus .skills .hover--front {
    z-index: 0;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg); }
  .skills .hover:hover .skills .hover--back,
  .skills .hover:focus .skills .hover--back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0); }
  .skills .icon {
    height: 100px;
    min-width: 100px;
    width: calc((100% / 6) - 15px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 2px;
    margin-bottom: 15px;
    position: relative; }
    .skills .icon:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: whitesmoke;
      opacity: 0.4; }
    .skills .icon img {
      width: 50%;
      position: relative;
      z-index: 1; }

.contact {
  position: relative;
  background: rgba(221, 214, 243, 0.2);
  padding-bottom: 75px; }
  .contact:before {
    content: "";
    position: absolute;
    top: -100px;
    width: 100%;
    border-width: 0 0 100px 100vw;
    border-style: solid;
    border-color: transparent transparent rgba(221, 214, 243, 0.2) transparent; }
  .contact__content {
    position: relative; }
  .contact__h2 {
    width: 100%;
    text-align: right;
    margin: 50px 0 75px 0; }
    .contact__h2:before {
      content: "contact";
      font-family: 'Montserrat', sans-serif;
      font-size: 170px;
      font-size: 17rem;
      color: #1f0e49;
      color: #1f0e49;
      position: absolute;
      top: -110px;
      right: 0px;
      z-index: -1;
      opacity: 0.1; }
  .contact__inner-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative; }
  .contact__social {
    position: absolute;
    text-align: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%; }
  .contact__icon {
    margin-bottom: 35px; }
    .contact__icon--link .fab {
      font-size: 3rem;
      font-size: 30px;
      color: #191919;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .contact__icon--link .fab:hover {
        color: #d61a4c; }
  .contact__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-size: 1.6rem; }
  .contact__label {
    margin: 10px 0 5px 0; }
  .contact__input {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    border: 1px solid #d2d6de;
    border-radius: 5px;
    padding: 10px 10px; }
    .contact__input--message {
      width: 100%;
      resize: none;
      position: relative; }
    .contact__input--submit {
      font-family: 'Lato', sans-serif;
      font-size: 19px;
      font-size: 1.9rem;
      width: calc(50% - 10px);
      text-align: center;
      background: #ddd6f3;
      color: #1f0e49;
      padding: 10px;
      border-radius: 5px;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      position: relative;
      top: 0;
      left: 0;
      -webkit-box-shadow: 1px 1px 0 #1f0e49, 2px 2px 0 #1f0e49, 3px 3px 0 #1f0e49, 4px 4px 0 #1f0e49, 5px 5px 0 #1f0e49;
      box-shadow: 1px 1px 0 #1f0e49, 2px 2px 0 #1f0e49, 3px 3px 0 #1f0e49, 4px 4px 0 #1f0e49, 5px 5px 0 #1f0e49;
      font-family: 'Lato', sans-serif;
      font-size: 16px;
      font-size: 1.6rem;
      margin-top: 20px;
      width: 100%;
      border: none; }
      .contact__input--submit:hover, .contact__input--submit:focus {
        background: #bcafe7; }
      .contact__input--submit:active {
        top: 5px;
        left: 5px;
        -webkit-box-shadow: none;
        box-shadow: none; }

footer {
  background: rgba(221, 214, 243, 0.2); }
  footer p {
    margin: 0;
    padding: 10px;
    text-align: center;
    color: #d2d6de;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-size: 1.4rem; }

@media (max-width: 1200px) {
  .header__shapes--squiggle {
    top: -190px;
    left: 40px; }
  .portfolio__project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 100px 0;
    text-align: center; }
  .portfolio__inner-content {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 65%;
    padding: 0; }
  .portfolio__img-container {
    margin-bottom: 35px; } }

@media (max-width: 1024px) {
  .header__shapes--squiggle {
    top: -220px;
    left: 40px; }
  .header__shapes--circle {
    top: 190px;
    left: 290px; }
  .header__shapes--square {
    top: 200px;
    left: 750px; }
  .header__shapes--triangle {
    top: 0px;
    left: 650px; } }

@media (max-width: 960px) {
  .header__h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    font-size: 8rem;
    color: #1f0e49; }
  .header__intro, .header__description {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-size: 2.5rem; }
  input:checked + .main-nav__circle {
    -webkit-box-shadow: 0 0 0 60vw #cae4f1, 0 0 0 85vh #cae4f1;
    box-shadow: 0 0 0 60vw #cae4f1, 0 0 0 85vh #cae4f1; }
  .about__description {
    width: 70%; }
  .about__img-container {
    width: 30%; }
  .about__h2::before,
  .portfolio__h2::before,
  .skills__h2::before,
  .contact__h2::before {
    font-size: 130px;
    font-size: 13rem; }
  .about__h2::before,
  .skills__h2::before,
  .contact__h2::before {
    top: -75px; }
  .portfolio__h2::before {
    top: -30px; } }

@media (max-width: 855px) {
  .header__h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 68px;
    font-size: 6.8rem;
    color: #1f0e49; }
    .header__h1::after {
      height: 30px; }
  .main-nav__menu {
    left: 50%; }
  input:checked + .main-nav__circle {
    -webkit-box-shadow: 0 0 0 120vw #cae4f1, 0 0 0 120vh #cae4f1;
    box-shadow: 0 0 0 120vw #cae4f1, 0 0 0 120vh #cae4f1;
    overflow: hidden; }
  .about__inner-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .about__img-container {
    width: 40%; }
  .about__description {
    width: 85%;
    padding: 0; }
  .portfolio__inner-content {
    min-width: 80%; }
  .skills__icon-box {
    width: calc((100% / 4) - 25px); } }

@media (max-width: 768px) {
  .header__h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-size: 6rem;
    color: #1f0e49; }
    .header__h1::before {
      width: 350px;
      height: 350px; }
    .header__h1::after {
      height: 30px; }
  .header__intro, .header__description {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-size: 2.2rem; }
  .header__shapes--squiggle {
    top: -220px;
    left: 40px; }
  .header__shapes--circle {
    top: 130px;
    left: 240px; }
  .header__shapes--square {
    top: 150px;
    left: 600px; }
  .header__shapes--triangle {
    top: -30px;
    left: 490px; } }

@media (max-width: 710px) {
  .about__h2::before,
  .portfolio__h2::before,
  .skills__h2::before,
  .contact__h2::before {
    font-size: 110px;
    font-size: 11rem; }
  .about__h2::before,
  .skills__h2::before,
  .contact__h2::before {
    top: -60px; }
  .portfolio__h2::before {
    top: -10px; } }

@media (max-width: 640px) {
  .header__h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    font-size: 7rem;
    color: #1f0e49; }
    .header__h1::before {
      top: -150px;
      left: -50px;
      width: 300px;
      height: 300px; }
  .header__intro, .header__description {
    width: 80%;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-size: 2rem;
    margin: 0 auto; }
  .header__shapes--squiggle {
    top: -190px;
    left: 40px; }
  .header__shapes--circle {
    top: 130px;
    left: 100px; }
  .header__shapes--square {
    top: 210px;
    left: 480px; }
  .header__shapes--triangle {
    top: -30px;
    left: 390px; }
  .main-nav__menu--link {
    font-size: 25px;
    font-size: 2.5rem;
    margin-bottom: 10px;
    padding: 10px 40px; }
  .about__img-container {
    width: 45%; } }

@media (max-width: 600px) {
  .about__img-container {
    display: none; }
  .about__description {
    min-width: 100%; }
  .portfolio__h3 {
    font-size: 2.5rem;
    font-size: 25px; }
  .portfolio__a {
    font-size: 1.6rem;
    font-size: 16px; }
  .portfolio__video-container {
    display: none; }
  .portfolio .hidden {
    display: block;
    top: 25px;
    left: 19px;
    width: 90%; }
  .portfolio__img-container {
    position: relative;
    min-width: 400px;
    max-width: 400px; }
  .contact__inner-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .contact__social {
    position: static;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 50%;
    margin-bottom: 20px; }
  .contact__icon {
    margin-bottom: 0; }
    .contact__icon--link .fab {
      font-size: 2.5rem;
      font-size: 25px; }
  .contact__form {
    width: 90%; }
  .about__h2,
  .portfolio__h2,
  .skills__h2,
  .contact__h2 {
    font-size: 3.5rem;
    font-size: 35px; }
    .about__h2::before,
    .portfolio__h2::before,
    .skills__h2::before,
    .contact__h2::before {
      font-size: 90px;
      font-size: 9rem; }
  .about__h2::before,
  .skills__h2::before,
  .contact__h2::before {
    top: -50px; }
  .portfolio__h2::before {
    top: 0px; } }

@media (max-width: 555px) {
  .portfolio .hidden {
    top: 22px;
    left: 17px;
    width: 90%; }
  .portfolio__img-container {
    position: relative;
    min-width: 350px;
    max-width: 350px; }
  .portfolio__mobile {
    right: -25px;
    width: 80px;
    z-index: 1; }
    .portfolio__mobile--left {
      left: -25px; } }

@media (max-width: 500px) {
  .header__h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-size: 6rem;
    color: #1f0e49; }
  .header__intro, .header__description {
    font-family: 'Lato', sans-serif;
    font-size: 19px;
    font-size: 1.9rem; }
  .header__shapes--circle {
    top: 120px;
    left: 75px; }
  .header__shapes--square {
    top: 180px;
    left: 360px; }
  .header__shapes--triangle {
    top: -30px;
    left: 270px; }
  .main-nav__circle {
    right: -110px;
    top: -110px; }
  .main-nav__hamburger {
    top: 140px;
    left: 42px;
    width: 25px;
    height: 2px;
    background: #000;
    display: block;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    border-radius: 50px; }
  .portfolio .hidden {
    top: 19px;
    left: 14px;
    width: 90%; }
  .portfolio__img-container {
    position: relative;
    min-width: 300px;
    max-width: 300px; }
  .portfolio__mobile {
    right: -25px;
    width: 72px;
    z-index: 1; }
    .portfolio__mobile--left {
      left: -25px; }
  .portfolio__inner-content {
    min-width: 100%; }
  .skills__icon-box {
    height: 80px;
    min-width: 80px; }
  .skills__card p {
    font-size: 1.4rem;
    font-size: 14px; }
  .contact__form {
    width: 100%; }
  .about__h2,
  .portfolio__h2,
  .skills__h2,
  .contact__h2 {
    font-size: 2.9rem;
    font-size: 29px; }
    .about__h2::before,
    .portfolio__h2::before,
    .skills__h2::before,
    .contact__h2::before {
      font-size: 70px;
      font-size: 7rem; }
  .about__h2::before,
  .skills__h2::before,
  .contact__h2::before {
    top: -35px; }
  .portfolio__h2::before {
    top: 15px; } }

@media (max-width: 435px) {
  .header__h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-size: 5rem;
    color: #1f0e49; }
    .header__h1::before {
      top: -150px;
      left: -50px;
      width: 250px;
      height: 250px; }
  .header__intro, .header__description {
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    font-size: 1.7rem; }
  .header__shapes--triangle {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #d61a4c;
    top: -40px;
    left: 240px; }
  .header__shapes--circle, .header__shapes--square {
    width: 15px;
    height: 15px; }
  .header__shapes--squiggle {
    width: 50px;
    height: 6px; }
  .header__shapes .line {
    width: 48px;
    height: 6px; }
  .header__shapes .line1 {
    background: -webkit-linear-gradient(45deg, transparent, transparent 47%, #1f0e49 47%, transparent 53%);
    background: -o-linear-gradient(45deg, transparent, transparent 47%, #1f0e49 47%, transparent 53%);
    background: linear-gradient(45deg, transparent, transparent 47%, #1f0e49 47%, transparent 53%); }
  .header__shapes .line2 {
    background: -webkit-linear-gradient(135deg, transparent, transparent 47%, #1f0e49 47%, transparent 53%);
    background: -o-linear-gradient(135deg, transparent, transparent 47%, #1f0e49 47%, transparent 53%);
    background: linear-gradient(-45deg, transparent, transparent 47%, #1f0e49 47%, transparent 53%); }
  .header__shapes .line {
    background-size: 12px 12px; }
  .header__shapes--circle {
    top: 100px;
    left: 65px; }
  .header__shapes--square {
    top: 140px;
    left: 300px; } }

@media (max-width: 400px) {
  .header__h1::before {
    top: -100px;
    left: -50px;
    width: 200px;
    height: 200px; }
  .header__h1::after {
    height: 20px; }
  .header__intro, .header__description {
    display: none; }
  .header__shapes--squiggle {
    top: -180px;
    left: 40px; }
  .header__shapes--circle {
    top: 120px;
    left: 75px; }
  .header__shapes--square {
    top: 150px;
    left: 280px; }
  .header__shapes--triangle {
    top: -80px;
    left: 270px; }
  .portfolio .hidden {
    top: 17px;
    left: 14px; }
  .portfolio__img-container {
    min-width: 275px;
    max-width: 275px; }
  .portfolio__mobile {
    right: -20px;
    width: 60px; }
    .portfolio__mobile--left {
      left: -20px; }
  .portfolio__inner-content {
    min-width: 100%; }
  .portfolio__h3 {
    font-size: 2.2rem;
    font-size: 22px; }
  .skills__icon-box {
    height: 60px;
    min-width: 60px; }
  .skills__card p {
    font-size: 1rem;
    font-size: 10px; }
  .about__h2,
  .portfolio__h2,
  .contact__h2 {
    margin-top: 0; }
  .about__h2::before,
  .portfolio__h2::before,
  .skills__h2::before,
  .contact__h2::before {
    font-size: 55px;
    font-size: 5.5rem; }
  .about__h2::before,
  .skills__h2::before,
  .contact__h2::before,
  .portfolio__h2::before {
    top: -20px; }
  section {
    padding: 25px 0 67.5px 0; } }

@media (max-width: 350px) {
  .portfolio .hidden {
    top: 15px;
    left: 12px; }
  .portfolio__img-container {
    min-width: 250px;
    max-width: 250px; }
  .portfolio__mobile {
    right: -15px;
    width: 55px; }
    .portfolio__mobile--left {
      left: -15px; }
  .skills__icon-box {
    height: 55px;
    min-width: 55px; } }
