/* GENERAL STYLING */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  font-size: 62.5%; }

img {
  max-width: 100%; }

body {
  font-size: 2rem;
  overflow-x: hidden; }

.wrapper {
  max-width: 1280px;
  width: 85%;
  margin: 0 auto; }

nav {
  position: fixed;
  width: 100%;
  z-index: 100; }

.main-nav__circle {
  position: absolute;
  right: -100px;
  top: -100px;
  z-index: 100;
  width: 200px;
  height: 200px;
  background: #fcdc89;
  border-radius: 50%;
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  -webkit-box-shadow: none;
  box-shadow: none; }

.main-nav__hamburger {
  position: absolute;
  top: 135px;
  left: 50px;
  width: 30px;
  height: 2px;
  background: #000;
  display: block;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out; }
  .main-nav__hamburger:after, .main-nav__hamburger:before {
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #000; }
  .main-nav__hamburger:before {
    top: -10px; }
  .main-nav__hamburger:after {
    bottom: -10px; }

.main-nav input {
  display: none; }

input:checked + .main-nav__circle {
  -webkit-box-shadow: 0 0 0 50vw #fcdc89, 0 0 0 50vh #fcdc89;
  box-shadow: 0 0 0 50vw #fcdc89, 0 0 0 50vh #fcdc89;
  border-radius: 100%; }
  input:checked + .main-nav__circle__hamburger {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
    input:checked + .main-nav__circle__hamburger:after {
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      bottom: 0; }
    input:checked + .main-nav__circle__hamburger:before {
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      top: 0; }

input:checked + .main-nav__circle + .main-nav__menu {
  opacity: 1;
  -webkit-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out; }

.main-nav__menu {
  z-index: 200;
  position: absolute;
  top: 50vh;
  left: 80%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .main-nav__menu--link {
    margin-bottom: 25px;
    display: block;
    color: #1f0e49; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  height: 100vh;
  background-color: #ddd6f3; }
  .header__content {
    margin: 20vh auto 0 auto; }
  .header__h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 90px;
    font-size: 9rem;
    margin: 0;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #1f0e49; }
    .header__h1::before {
      content: "";
      position: absolute;
      top: -200px;
      left: -150px;
      width: 400px;
      height: 400px;
      background: #cef2f2;
      border-radius: 64% 36% 26% 74% / 40% 63% 37% 60%;
      z-index: -1; }
    .header__h1::after {
      content: "";
      position: absolute;
      margin: 0 0 0 auto;
      left: 0;
      right: 0;
      bottom: 5px;
      height: 40px;
      width: 65%;
      background: #ffb4a4;
      opacity: 0.5;
      z-index: -1; }
  .header__description {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-size: 3rem;
    margin: 0;
    text-align: right; }
